#error { color: rgb(247, 116, 0); text-align: center;}
#hurry { color: rgba(225, 239, 37, 0.9); text-align: left;}
#warning { color: rgba(241, 182, 120, 0.78); text-align: center;}
#success { color: rgba(184, 247, 0, 0.88);
    font-size: 18px;
    font-weight: bold;
    text-align: center;}
.extra { margin: 8px 0px 0px !important;}